<div class="flex justify-center my-4">
  <div class="relative border-2 border-white rounded-lg p-4 inline-block bg-gray-950 w-full md:w-4/5 lg:w-2/5">
    <% if notification.comment?(notification) %>
      <%= render "notifications/comment_notification", notification: notification %>
    <% elsif notification.like?(notification) %>
      <%= render "notifications/like_notification", notification: notification %>
    <% end %>
  </div>
</div>