<%= link_to like_path(current_user.likes.find_by(game_log_id: game_log.id)),
    id: "checkout-like-for-game-log-#{game_log.id}",
    data: { turbo_method: :delete} do %>
  <i class="fa-solid fa-heart fa-xl" style="color: #ff00a2;"></i>
  <span class="text-gray-400"><%= game_log.likes.count %></span>
<% end %>