<div class="my-4 ml-24">
  <button id="toggle-sidebar" class="bg-lime-950 text-lime-400 border border-lime-400 border-b-4 font-medium relative h-16 px-4 py-2 rounded-md hover:brightness-150" type="button">
    <p class="text-2xl">メニュー</p>
  </button>
</div>
<div class="mr-40">
  <%= link_to "ログイン", new_user_session_path, class: "bg-lime-950 text-2xl text-lime-400 border border-lime-400 border-b-4 font-medium relative h-16 px-4 py-2 rounded-md hover:brightness-150" %>
</div>