<div class="my-4 ml-6">
  <button id="toggle-sidebar" class="nes-btn" type="button">
    <%= image_tag 'gf_logo.png', class: "w-6 h-6" %>
  </button>
</div>
<div class="mr-4">
  <%= link_to "ログイン", new_user_session_path, class: "nes-btn" %>
</div>