<div class="flex items-center gap-8">
  <div>
    <%= image_tag 'gf_logo.png', class: "w-12" %>
  </div>
  <div>
    <p class="text-white">Gamefolio © 2024 Mana</p>
  </div>
  <div>
    <%= link_to "プライバシーポリシー", "#", class: "text-white hover:text-green-300 hover:no-underline" %>
    <%= link_to "問い合わせ", "#", class: "text-white hover:text-green-300 hover:no-underline mx-2" %>
  </div>
</div>