<div class="flex justiry-center space-x-4 my-6">
  <%= link_to "利用規約", role_path, class: "text-white text-2xl hover:text-green-300 hover:no-underline" %>
  <%= link_to "プライバシーポリシー", policy_path, class: "text-white text-2xl hover:text-green-300 hover:no-underline" %>
</div>