<div class="flex justify-center my-8">
  <div class="text-center nes-container is-dark w-3/5 min-w-min">
    <div class="flex justify-center">
      <%= image_tag 'gf_logo.png', width: '100', height: '100' %>
    </div>
    <h1 class="text-6xl">GAMEFOLIO</h1>
    <p class="text-xl">ゲーム × ポートフォリオ × SNS</p>
    <div class="mt-10">
    <%= link_to "つづきから", "#", class: "nes-btn is-success" %>
    </div>
    <div class="mt-5">
    <%= link_to "はじめから", "#", class: "nes-btn is-success" %>
    </div>
  </div>
</div>