<div class="flex justify-center my-10">
  <div class="rounded-lg border-solid border-white border-4 bg-gray-950 w-full sm:w-3/5 lg:w-2/5">
    <div class="items-center text-center">

      <h2 class="text-white text-6xl my-6">プライバシーポリシー</h2>

      <div class="my-6">
        <p class="text-white text-2xl">準備中…</p>
        <p class="text-white text-2xl">もう少し待っててね</p>
      </div>

    </div>
  </div>
</div>

<div class="text-center my-8">
  <%= link_to "戻る", :back, class: "bg-blue-950 text-blue-400 text-2xl border border-blue-400 border-b-4 font-medium relative px-4 py-2 rounded-md hover:brightness-150" %>
</div>