<h2 class="text-yellow-400 text-4xl text-center my-8">【利用規約】</h2>
<div class="flex justify-center my-4">
  <div class="rounded-lg border-solid border-white border-4 bg-gray-950 p-4 w-full lg:w-2/5">
    <div class="text-gray-200 leading-loose space-y-12">
      
      <section class="text-blance indent-4">
        <p>この利用規約（以下、「本規約」といいます。）は、当ウェブサイト管理者（以下、「管理者」といいます。）が本ウェブサイト上で提供するサービス（以下、「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下、「ユーザー」といいます。）には、本規約に従って、本サービスをご利用いただきます。</p>
      </section>

      <section class="text-blance">
        <h3 class="text-lime-400 text-2xl mb-2">第1条（適用）</h3>
        <ol class="list-decimal list-inside -indent-1 pl-1 space-y-6">
          <li>本規約は、ユーザーと管理者との間の本サービスの利用にかかわる一切の関係に適用されるものとします。</li>
          <li>管理者は本サービスに関し、本規約のほか、ご利用にあたってルール等、各種の定め（以下、「個別規定」といいます。）をすることがあります。これらの個別規定はその名称の如何にかかわらず、本規約の一部を構成するものとします。</li>
          <li>本規約の規定が前条の個別規定の規定と矛盾する場合には、個別規定において特段の定めなきを限り、個別規定の規定が優先されるものとします。</li>
        </ol>
      </section>

      <section class="text-blance">
        <h3 class="text-lime-400 text-2xl mb-2">第2条（利用登録）</h3>
        <p class="indent-4">本サービスにおいては、登録希望者が本規約に同意の上、本サービスの定める方法によって利用登録を完了するものとします。</p>
      </section>

      <section class="text-blance">
        <h3 class="text-lime-400 text-2xl mb-2">第3条（メールアドレスおよびパスワードの管理）</h3>
        <ol class="list-decimal list-inside -indent-1 pl-1 space-y-6">
          <li>ユーザーは、自己責任において、本サービスに登録したメールアドレスおよびパスワードを適切に管理するものとします。</li>
          <li>ユーザーはいかなる場合にも、メールアドレスおよびパスワードを第三者に譲渡または貸与し、もしくは第三者と共用することはできません。本サービスでは、メールアドレスとパスワードの組み合わせが登録情報と一致してログインされた場合には、そのメールアドレスを登録しているユーザー自身による利用とみなします。</li>
          <li>メールアドレスおよびパスワードが第三者によって使用されたことによって生じた損害は、管理者に故意または重大な過失がある場合を除き、管理者は一切の責任を負わないものとします。</li>
        </ol>
      </section>

      <section class="text-blance">
        <h3 class="text-lime-400 text-2xl mb-2">第4条（利用料金）</h3>
        <p class="indent-4">本サービスではユーザーに利用料金を請求することはありません。無料で本サービスを利用することができます。</p>
      </section>

      <section class="text-blance">
        <h3 class="text-lime-400 text-2xl mb-2">第５条（仮想通貨）</h3>
        <p class="indent-4">本サービスでは、本サービス内のみで利用できる仮想通貨（以下、「ジェム」といいます）を発行しています。ジェムは法的な金銭価値はないものとします。</p>
      </section>

      <section class="text-blance space-y-6">
        <h3 class="text-lime-400 text-2xl mb-2">第6条（禁止事項）</h3>
        <p>ユーザーは、本サービスの利用にあたり、以下の行為を禁止します。</p>
        <ul class="list-disc list-inside -indent-1 pl-1">
          <li>本人または第三者の生命、身体、財産その他の利権利益を害する恐れがある場合</li>
          <li>本サービスの運営の適正な実施に著しい支障を及ぼすおそれがある場合</li>
          <li>その他法令に違反することとなる場合</li>
        </ul>
        <p>前項の定めにかかわらず、履歴情報のおよび特性情報などの個人情報以外の情報については、原則として開示しません。</p>
      </section>

      <section class="text-blance indent-4">
        <h3 class="text-lime-400 text-2xl mb-2">第7条（個人情報の利用停止等）</h3>
        <ol class="list-decimal list-inside -indent-1 pl-1 space-y-4">
          <li>本サービスでは、本人から個人情報が利用目的の範囲を超えて取り扱われているという理由、または不正の手段によって取得されたものであるという理由により、その利用の停止または消去（以下、「利用停止等」といいます。）を求められた場合には、遅滞なく必要な調査を行います。</li>
          <li>前項の調査結果に基づき、その請求に応じる必要があると判断した場合には、遅滞なく、該当個人情報の利用停止等を行います。</li>
          <li>本サービスでは、前項の規定に基づき利用停止等を行った場合、または利用停止等を行わない旨の決定をしたときは、遅滞なくこれをユーザーに通知します。</li>
        </ol>
      </section>

      <section class="text-blance indent-4 space-y-4">
        <h3 class="text-lime-400 text-2xl mb-2">第8条（アクセス解析ツールの使用）</h3>
        <p>本サービスではユーザーのアクセス解析のために「Googleアナリティクス」を利用しています。Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用しています。トラフィックデータは匿名で収集されており、個人を特定するものではありません。</p>
        <p>Cookieを無効にすれば、これらの情報の収集を拒否することができます。詳しくはお使いのブラウザの設定をご確認ください。</p>
        <p>Googleアナリティクスについて、詳しくは以下からご確認ください。</p>
        <a href="https://marketingplatform.google.com/about/analytics/terms/jp/" class="link link-success">Googleアナリティクス利用規約</a>
      </section>

      <section class="text-blance indent-4 ">
        <h3 class="text-lime-400 text-2xl mb-2">第9条（プライバシーポリシーの変更）</h3>
        <ol class="list-decimal list-inside space-y-4">
          <li>本ポリシーの内容は、法令その他本ポリシーの別段の定めにある事項を除いて、ユーザーに通知することなく、変更することができるものとします。</li>
          <li>変更後のプライバシーポリシーは、本ウェブサイトに掲載したときから効力を生じるものとします。</li>
        </ol>
      </section>

      <section class="text-blance indent-4 ">
        <h3 class="text-lime-400 text-2xl mb-2">第10条（お問い合わせ窓口）</h3>
        <p >本ポリシーに関するお問い合わせ、その他、本サービスに関するお問い合わせは、下記のメールアドレスまでご連絡ください。</p>
        <div class="mt-4">
          <p><span class="text-lime-400">管理者名：</span> Mana</p>
          <p><span class="text-lime-400">e-mail:</span> gamefolio.m@gmail.com</p>
        </div>
      </section>
      
      <section class="flex justify-end">
        <p class="mr-4">以上</p>
      </section>

      <section class="indent-4">
        <p>2024年11月28日 制定</p>
      </section>

    </div>
  </div>
</div>

<div class="text-center my-8">
  <%= link_to "戻る", :back, class: "bg-blue-950 text-blue-400 text-2xl border border-blue-400 border-b-4 font-medium relative px-4 py-2 rounded-md hover:brightness-150" %>
</div>