<head>
  <title><% content_for(:title, "ゲームライブラリ") %></title>
</head>
<h1 class="text-white text-6xl text-center my-6"><%= @user.name %>のゲームライブラリ</h1>
<% if @user_games.present? %>
  <%= render "user_games/user_game", user_games: @user_games %>
<% else %>
  <div class="text-center">
    <p class="text-white text-2xl">登録ゲームがありません</p>
    <div class="py-6">
      <%= link_to search_games_path do %>
        <button class="bg-lime-950 text-2xl text-lime-400 border border-lime-400 border-b-4 font-medium relative h-16 px-4 py-2 rounded-md hover:brightness-150">
          ゲームを登録する
        </button>
      <% end %>
    </div>
  </div>
<% end %>
