<head>
  <title><% content_for(:title, "ゲームログ編集") %></title>
</head>
<h2 class="text-white text-6xl text-center mt-6">ゲームログ編集</h2>
<% if @user_games.present? %>
  <%= render "game_logs/form", game_log: @game_log %>
<% else %>
  <div class="text-center my-10">
    <p class="text-white text-2xl">ゲームライブラリにゲームを登録してください</P>
    <div class="my-6">
      <%= link_to "ゲームを登録しに行く", search_games_path,
        class: "bg-lime-950 text-lime-400 text-2xl border border-lime-400 border-b-4 font-medium relative px-4 py-2 rounded-md hover:brightness-150" %>
    </div>
  </div>
<% end %>