<head>
  <title><% content_for(:title, "ゲームログ一覧") %></title>
</head>
<h1 class="text-yellow-400 text-4xl text-center my-6">【みんなのゲームログ】</h1>
<% if @game_logs.present? %>
  <%= render @game_logs %>
  <div class="flex justify-center my-8">
    <div class="join">
      <%= paginate @game_logs %>
    </div>
  </div>
<% else %>
  <p class="text-white txt-2xl text-center mt-12">ゲームログの投稿はありません</p>
<% end %>