<div id="sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen p-4 overflow-y-auto transform -translate-x-full transition-transform duration-300 bg-indigo-400">
   <h5 class="text-base text-white font-semibold uppercase">メニュー</h5>
   <button id="close-sidebar" class="bg-transparent hover:bg-indigo-300 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 end-2.5 inline-flex items-center" >
      <i class="fa-solid fa-x"></i>
   </button>
 <div class="py-4 overflow-y-auto">
     <ul class="space-y-2 font-medium">
        <li>
           <%= link_to "トップへ戻る", root_path, class: "ms-3 flex items-center p-2 rounded-lg text-white hover:bg-indigo-300 hover:text-gray-800 hover:no-underline group sidebar-link" %>
        </li>
        <li>
           <%= link_to "みんなのゲームログ", "#", class: "ms-3 flex items-center p-2 rounded-lg text-white hover:bg-indigo-300 hover:text-gray-800 hover:no-underline group sidebar-link" %>
        </li>
     </ul>
     <ul class="space-y-2 pt-2 font-medium border-t border-gray-200">
     <li>
        <%= link_to "プライバシーポリシー", "#", class: "ms-3 flex items-center p-2 rounded-lg text-white hover:bg-indigo-300 hover:text-gray-800 hover:no-underline group sidebar-link" %>
     </li>
     <li>
        <%= link_to "問い合わせ", "#", class: "ms-3 flex items-center p-2 rounded-lg text-white hover:bg-indigo-300 hover:text-gray-800 hover:no-underline group sidebar-link" %>
     </li>
  </ul>
  </div>
</div>